//--------------------------------
//  VIEWPORTS
//--------------------------------
$small-breakpoint: 320px;
$medium-breakpoint: 480px;
$large-breakpoint: 768px;
$desktop-breakpoint: 1025px;
$max-content-breakpoint: 1280px;
$xxlg-content-breakpoint: 1440px;
@mixin respond($media, $max: null) {
    @if $media == "print" {
        @media only print {
            @content;
        }
    } @else if $media == "small-down" {
        @media only screen and (max-width: $medium-breakpoint - 1) {
            @content;
        }
    } @else if $media == "small" {
        @media only screen and (min-width: $small-breakpoint) and (max-width: $medium-breakpoint - 1) {
            @content;
        }
    } @else if $media == "medium-down" {
        @media only screen and (max-width: $large-breakpoint - 1) {
            @content;
        }
    } @else if $media == "medium" {
        @media only screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint - 1) {
            @content;
        }
    } @else if $media == "medium-up" {
        @media only screen and (min-width: $medium-breakpoint) {
            @content;
        }
    } @else if $media == "large-down" {
        @media only screen and (max-width: $desktop-breakpoint - 1) {
            @content;
        }
    } @else if $media == "large" {
        @media only screen and (min-width: $large-breakpoint) and (max-width: $desktop-breakpoint - 1) {
            @content;
        }
    } @else if $media == "large-up" {
        @media only screen and (min-width: $large-breakpoint) {
            @content;
        }
    } @else if $media == "desktop" {
        @media only screen and (min-width: $desktop-breakpoint) {
            @content;
        }
    } @else if $media == "xxlg" {
        @media only screen and (min-width: $xxlg-content-breakpoint) {
            @content;
        }
    } @else if type-of($media) == number and $max == null {
        @media only screen and (min-width: $media) {
            @content;
        }
    } @else if type-of($media) == number and type-of($max) == number {
        @media only screen and (min-width: $media) and (max-width: $max - 1) {
            @content;
        }
    }
}
///////////////////colors/////////////////
$accent: #f0650D;
$dark: #293A43;
$light: #EDEDED;
$gray: #4B5A65;
$gutter: 20px;
///////////////////fonts////////////////
@font-face {
    font-family: 'intro-grid';
    src: url('../fonts/IntroRegular.woff') format('woof');
}
@font-face {
    font-family: 'raleway-grid';
    src: url('../fonts/RalewayBold.woff') format('woof');
    font-waight: bold;
}
@font-face {
    font-family: 'raleway-grid';
    src: url('../fonts/RalewayExtraBold.woff') format('woof');
    font-waight: 800;
}
@font-face {
    font-family: 'raleway-grid';
    src: url('../fonts/RalewayRegular.woff') format('woof');
}
/////////////////mixins////////////////////
@mixin btn (){
    display: inline-block;
    border: none;
    color: #fff;
    text-decoration: none;
    background-color: $accent;
    padding: 10px 60px;
    font-family: raleway-grid, sans-serif;
    font-size: 20px;
    font-weight: 800;
    border-radius: 2px;
    text-align: center;
    position: relative;
    outline: none;
    transition: background-color .1s ease;
    cursor: pointer;
      }




* {
  margin: 0;
  padding: 0;
}

.grid {
    display: grid;
}

.main-head{
    min-height: 100vh;
    background-image: url("../img/0-header.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    align-content: center;
    .header-content{
        z-index: 1;
        color: #fff;
        text-align: center;
        padding: 60px $gutter;
        h1{
            font-size: 60px;
            font-family: intro-grid, sans-serif;
            text-transform: uppercase;
            font-weight: normal;
            margin: 20px 0;
            line-height: 1.5;
        }
        .button{
          @include btn();
          margin: 10px;
        }
        .button-gray{
          background-color: $gray;
        }
    }

}
.main-head::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $dark;
    opacity: .82;


    }
.portfolio-section{
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  .portfolio-item{
    min-height: 32vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
    padding: $gutter;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: raleway-grid, sans-serif;
    position: relative;
    transition: color .9s ease;
    cursor: pointer;
    >*{
      z-index: 1;
    }
  }
  :hover{
    color: $accent;
    ::before{
      opacity: .55;
    }
  }
  ::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $dark;
    opacity: .35;
    transition: opacity .9s ease;
  }
  :nth-child(1){
    grid-column: 1/3;
  }
  :nth-child(5){
    grid-column: 2/4;
  }
  :nth-child(6){
    grid-column: 4;
    grid-row: 2/4;
  }
  .buttoncase{
    @include btn();
    grid-column: 1 /5;
  }
}
